<main>

  <form action="">
    <h3>Registro de nuevo vendedor</h3>
    <div>
      <label for="">nombre</label>
      <input type="text" id="nom" name="nom">
    </div>

    <div>
      <label for="">apellido</label>
      <input type="text" id="apel" name="apel">
    </div>

    <div>
      <label for="">Supervisor</label>
      <select name="suprv" id="suprv">
        <option value="1">compSupervisro1</option>
        <option value="2">compSupervisro2</option>
        <option value="3">compSupervisro3</option>
        <option value="4">compSupervisro4</option>
      </select>

    </div>
    <button id="enbiar" name="enviar" onclick="envio()">Enviar</button>
  </form>

</main>

<app-vendedores></app-vendedores>